@tailwind base;
@tailwind components;
@tailwind utilities;

*{

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    --cursor-x: 0;
    --cursor-y: 0;
    --cursor-velocity-x: 0;
    --cursor-velocity-y: 0;
  }
body {
  color: white;
  width: 100dvw;
  overflow-x: hidden;
  height: 100%;
  background: #000;
  border-color: #3b3b3b;
  user-select: none;
}

header{
    background-color: #8d050500;
}

.screen-max-width {
  margin-inline-start: 45px;  
  margin-inline-end: 45px;  
  position: relative;
  max-width: cover; 
}

#navLists{
    margin-right: -3rem;
    padding: 10px;
    border-radius: 2rem;
    gap: 7rem;
    border: 2px solid rgb(206, 134, 0);
    background-color: var()
}

#hero{
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.986);
}

  .cursor {
    background-color: rgba(223, 135, 2, 0.425);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: fixed;
    top: var(--cursor-y);
    left: var(--cursor-x);
    mix-blend-mode: difference;
    transition: transform 0.6s ease; /* Adjust timing and easing function as needed */
    transform: translate(var(--cursor-velocity-x), var(--cursor-velocity-y));
  }
  